doctype
html(lang='en')
  head
    meta(charset="utf-8")
    title= title + ' - Robeson Planetarium'
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="jquery-3.2.1.min.js")
    link(href="https://fonts.googleapis.com/css?family=Lato|Muli:400,600,800|Roboto|Roboto+Slab" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel='stylesheet', href="/stylesheets/main.css")
    block head
  body
    .container
      #header
        .row
          .col-sm-9.col
            a(href='/home')
              img.img-responsive#logo(src='/images/planetariumlogo.jpg' alt='Planetarium Logo' width='576' height='188')
          .col-sm-3.col
            a(href='http://www.robeson.k12.nc.us/')
              img.img-responsive#psrclogo(src='/images/psrclogo_resized.png' alt='Public Schools of Robeson County Logo' height='145' width='166')
      nav.navbar.navbar-default#navbar
        .container-fluid
          .navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .collapse.navbar-collapse#myNavbar
            ul.nav.navbar-nav
              li
                a(href='/home' class=page=='home' ? 'current' : '') Home
              li
                a(href='/schoolcalendar' class=page=='calendar' ? 'current' : '') School Calendar
              li
                a(href='/publicshows' class=page=='shows' ? 'current' : '') Public Shows
              li
                a(href='/resources' class=page=='resources' ? 'current' : '') Resources
              li
                a(href='/sciencecenter' class=page=='sciencecenter' ? 'current' : '') Science Center 
              li
                a(href='/contact' class=page=='contact' ? 'current' : '') Contact
      #middlecontainer
        //
          #sidebar
            p.center.large#address 
              strong Robeson Planetarium 
              br 
              | 420 Caton Road
              br 
              | Lumberton, NC 28360
            p.center.large
              a(href="/directions") Directions and Map
            p.left#contact For reservations and other information, call or email Joy Ivey: 
              br
              | (910) 735-2148
              br
              a(href='mailto:"Joy%20Ivey"%20<joy.ivey@robeson.k12.nc.us>') joy.ivey@robeson.k12.nc.us
            .center
              a(href="https://www.facebook.com/Robeson-Planetarium-and-Science-Center-256104448069")
                img(src="/images/facebook-logo.jpg" alt="Facebook button" height="34" width="113")
            hr
            p.left#clearsky1 Check out which days will have the best weather for astronomical viewing:
            h6.center Clear Sky Forecast
            .center
              a(href="http://cleardarksky.com/c/RbsnPntNCkey.html")
                img(src="http://cleardarksky.com/c/RbsnPntNCcs0.gif?1" alt="weather forecast chart" height="10" width="204" title="Each block represents one hour, with days broken up by vertical red lines. White and grey means cloudy; the darker the blue, the clearer it will be.")
            p.left#clearsky2 Click the image for our detailed astronomer's weather forecast.
            hr
        #content
          block content
        .clear
      #footer
        //
          ul
            li.first
              a(href="/directions") Directions
            li
              a(href="/about") About
            li
              a(href="/schoolcalendar") Calendar
            li
              a(href="/publicshows") Shows
            li
              a(href="/resources") Resources
            li
              a(href="/sciencecenter") Science Center
            li
              a(href="http://www.robeson.k12.nc.us/") Public Schools of Robeson County
        p &copy; 2017 Robeson Planetarium. All rights reserved.
        
        script.
          var height = $('#middlecontainer').height();
          $('#sidebar').height(height);
