extend ../templates/layout
block head
	link(rel='stylesheet', href="/stylesheets/styles_contact.css")
block content
	h1 Contact
	#reservations
		h3 For reservations and other information, call or email Joy Ivey: 
		h4 (910) 735-2148
		h4
			a(href='mailto:"Joy%20Ivey"%20<joy.ivey@robeson.k12.nc.us>') joy.ivey@robeson.k12.nc.us
	hr
	#directions
		h3 Directions:
		p.address 420 Caton Road
		p.address Lumberton, NC 28360
		iframe.map(width="600" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key="+apikey+"&q=Robeson+Planetarium,Lumberton+NC&zoom=15" allowfullscreen)
		p= directions
	hr
	#staff
		h2 Our Team
		each item in personnel
			if item.imageName
				.person.row
					.col-sm-2.imgcontainer
						img.profilepic.img-responsive(src=item.imageLocation alt=item.first+' '+item.last height="120" width="120")
					.col-sm-10
						h3.name= item.fullName
						h4.title= item.title
						p.phone= item.phone
						a.email(href='mailto:"'+item.first+'%20'+item.last+'"%20<'+item.email+'>')= item.email
			else
				.person.row
					h3.name= item.fullName
					h4.title= item.title
					p.phone= item.phone
					a.email(href='mailto:"'+item.first+'%20'+item.last+'"%20<'+item.email+'>')= item.email