extend ../templates/layout
block head
  script.
    var imageSources = "#{imgArray}".split(",");
  script(src="src/slideshow.js" type='text/javascript')
  link(rel='stylesheet', href="/stylesheets/styles_home.css")
block content
  h1 Robeson Planetarium and Science Center
  p#intro= intro.text
  script.
    var emph = !{JSON.stringify(intro.emphasized)}
    if (emph) {
      $('#intro').addClass('emphasized');
    } else {
      $('#intro').removeClass('emphasized');
    }
  #slideshow-container
    #slides
    #prev &#10094;
    #next &#10095;
    #pause
      i.fa.fa-pause(aria-hidden="true")
    #dots
  #news
    h2 What's Going On:
    each item in newsItems
      .story.row
        .col-sm-3
          img.img-responsive.newsimg(src=item.imageLocation width="150" height="150" alt=item.imageText)
        .col-sm-9.text
          h5= item.title 
          if item.description
            each par in item.description
              p!= par
    script.
      var dimension = $('.newsimg').width();
      $('.newsimg').height(dimension);
