extend ../templates/layout
block head
  link(rel='stylesheet', href="/stylesheets/styles_resources.css")
block content
  h1 Resources
  p#intro= intro
  each item in resources
    .resource
      h3= item.title
      p.by
        span by 
        span.author= item.author
      p.description= item.description
      p.file
        a(href=item.fileLink target="_blank")
          if item.fileType
            img.file-icon(src="images/file-icons/"+item.fileType+".png")
          - var match = item.fileLink.match(/^resource_files\/(.*)/)
          if match
            span= match[1]
          else
            span= item.fileLink
        span.size= item.size