extend ../templates/layout
block head
	link(rel='stylesheet', href="/stylesheets/styles_sciencecenter.css")
block content
	h1 Science Center
	p#intro= intro
	.row#all-exhibits
		each item in exhibits
			.exhibit.col-sm-12.col-md-6
				h4= item.title
				img.img-responsive(src=item.imageLocation alt=item.imageText)
				if item.description
					each par in item.description
						p!= par