extend ../templates/layout
block head
	link(rel='stylesheet', href="/stylesheets/styles_shows.css")
block content
	h1 Public Shows
	p#intro= intro.text
	script.
		var emph = !{JSON.stringify(intro.emphasized)}
		if (emph) {
			$('#intro').addClass('emphasized');
		} else {
			$('#intro').removeClass('emphasized');
		}
	h2 Upcoming shows:
	ul
		each upcomingShow in upcoming
			li
				h4= upcomingShow.title
				if upcomingShow.description
					each par in upcomingShow.description
						p!= par
				p.date.well.well-sm Date and time: #{upcomingShow.date}
	h2 Previous shows:
	ul
		each previousShow in previous
			li
				h4= previousShow.title
				if previousShow.description
					each par in previousShow.description
						p!= par